{% import "macros.html" as  macros %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<style>
		.highlight {
			background-color: #c8f7c5;
		}
		.error {
			background-color: #ffb4b4;
		}
	</style>
	<script>
		function startTimer() {
			if (typeof startTime === 'undefined') {
				startTime = Date.now();
				var countdown = setInterval(function () {
					var tillTheEndTime = {{ sec }} - (Date.now() - startTime) / 1000;  // elapsed time in seconds
					var elapsedTime = (Date.now() - startTime) / 1000;  // elapsed time in seconds
					var wordCount = document.getElementById('user_text').value.split(/\s+/).length;  // word count
					var wpm = Math.round(wordCount / (elapsedTime / 60));  // words per minute
					document.getElementById('timer').textContent = tillTheEndTime.toFixed(1) + ' s';  // update timer
					document.getElementById('wpm').textContent = wpm + ' WPM';  // update WPM
					if (tillTheEndTime <= 0)
					{
						clearInterval(countdown);
					    // пишем текст вместо цифр
					    document.getElementById("timer").innerHTML = "Всё!";
					    document.getElementById("submit").disabled = false;

					}
				}, 1000);
			}
		}
		
	</script>	
</head>
<body>
	{{ macros.menu_macros(["home", "maxWordFixedTime"]) }}
	<h1>{{ title }}</h1>
	<p>{{ instruction }}</p>
	<p>{{ test_text }}</p>
	<form method="POST" action="/home2">
		<label for="user_text">{{ label_input }}</label><br>
		<textarea id="user_text" name="user_text" rows="4" cols="50" oninput="startTimer()"></textarea><br><br>
		<input id="submit" type="submit" name="submit_button" value="{{ submit_button }}" disabled>
		
		<p><span id="timer">0 s</span> | <span id="wpm">0 WPM</span></p>
	</form>
    <form method="POST" action="/home2">
        <p>{{ buttons.language.label }}{{ buttons.language(**{"onchange":"this.form.submit()"}) }}</p>
		<p>{{ buttons.punct.label }}{{ buttons.punct(**{"onchange":"this.form.submit()"}) }}</p>
		<p>{% for cnt in buttons.sec %}
            <tr>
                <td>{{ cnt(**{"onchange":"this.form.submit()"}) }}</td>
                <td>{{ cnt.label }}</td>
            </tr>
        {% endfor %}</p>
	</form>
</body>
</html>
