{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ _('Print Speed Test - Result') }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	{{ macros.menu_macros(["home", "maxWordFixedTime"]) }}
	<h1>{{ _('Print Speed Test - Result') }}</h1>
	<form>
		<p class="result">{{ _('Correct Words Per Minute: ') }}{{ result }}</p>
		<p>{{ _("Here's the text you entered:") }}</p>
		<p>
			{% for word, correct in zip(user_words, correct_words) %}
				{% if word == correct %}
					<span class="highlight">{{ word }}</span>
				{% else %}
					<span class="error">{{ word }}</span>
				{% endif %}
				{% if loop.index % 10 == 0 %}<br>{% endif %}
			{% endfor %}
		</p>
	<p>{{ _("Here's the original text:") }}</p>
	<p>
		{% for word in correct_words %}
			{{ word }}
			{% if loop.index % 10 == 0 %}<br>{% endif %}
		{% endfor %}
	</p>
	</form>
	<form>
		{{ macros.res_print_macros(_("Your time"), time) }}
		{{ macros.res_print_macros(_("The number of words you entered"), entered_words_number) }}
	</form>
</body>
</html>
